{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="columns">
    <div class="column">
        <h1 class="title is-2 ">{{book.title}}</h1>
    </div>
  </div>

  <div class="columns">
    <div class="column is-one-third">
      <img src="{{book.image}}" alt="">
    </div>

    <div class="column is-two-third">
      <ul>
        <li>Author: {{book.author}}</li>
        <li>Publisher: {{book.publisher}}</li>
        <li>Publish date: {{book.published}}</li>
        <li><br>
        {% for shelf in book.nodes %}
          <span class="tag is-medium"><a href="/shelf/{{shelf.pk}}/1">{{ shelf.name }}</a></span>
        {% endfor %}
        </li>
        <br>
        <li>
          <a href="{{book.url}}" class="button is-warning">
            Visit on Amazon
          </a>
          <a href="http://twitter.com/share?text=Check {{book.title}}&url=https://listedmaths.com/book/{{book.asin}}&hashtags=maths&via=yabirgb"
          class="button is-info">
            Share on Twitter
          </a>


        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}
