{% extends 'base.html' %}

{% block content %}

<div class="column">
  <h1 class="title is-1">ListedMaths</h1>
  <h2 class="subtitle is-2">A list of books from different fields of Mathematics </h2>
</div>

<div class="column">
  <h3 class="title is-3">About </h3>
  <p>I like both mathematics and computer science, the discover of
    <a href="http://www.dev-books.com/">dev-books</a> for me was awesome because
    it is a complete list of many books that can help me but also It would be great
  having something similar for books in diverse mathematics fields so I decided
  to create a similar website listing books from <a href="#">mathexchange.</a>
  Hope you find it useful.
  </p>
</div>

<section class="section">
  <div class="container">
    <div class="heading">
      <h3 class="title">Tags</h3>
      <p><span class="tag is-medium"><a href="/shelf/4893445031/1">Algebra</a></span>
      <span class="tag is-medium"><a href="/shelf/4893447031/1">Geometry</a></span>
      <span class="tag is-medium"><a href="/shelf/1349980031/1">Mathematics</a></span>
      <span class="tag is-medium"><a href="/shelf/4893446031/1">Calculus</a></span>
      <span class="tag is-medium"><a href="/shelf/1350061031/1">Economy</a></span>
      <span class="tag is-medium"><a href="/shelf/12942091031/1">Basic mathematics</a></span>
      <span class="tag is-medium"><a href="/shelf/1349978031/1">Physics</a></span>
      <span class="tag is-medium"><a href="/shelf/903454031/1">Computer security</a></span>
    </p>
    </div>
  </div>
</section>


{% endblock %}
