{% extends 'base.html' %}

{% block content %}

<div class="column">
  <h1 class="title is-1">ListedMaths</h1>
  <h2 class="subtitle is-2">A list of books from different fields of Mathematics </h2>
</div>

<div class="column">
  <h3 class="title is-3">About </h3>
  <p>As a computer science student, finding out the existence of
    <a href="http://www.dev-books.com/">dev-books</a> lists really helped me to
    learn new stuff. I'm also a mathematics student and I got inspired by these
    lists to make my own list of math related books. Hopefully you will find it
    as useful as dev-books lists were for me.
  </p>
  <p>This project is open-source in GitHub, please feel free to make any suggestion.</p>
</div>

<section class="section">
  <div class="container">
    <div class="heading">
      <h3 class="title is-3">Some Tags</h3>
      <p><span class="tag is-medium"><a href="/shelf/4893445031/1">Algebra</a></span>
      <span class="tag is-medium"><a href="/shelf/4893447031/1">Geometry</a></span>
      <span class="tag is-medium"><a href="/shelf/1349980031/1">Mathematics</a></span>
      <span class="tag is-medium"><a href="/shelf/4893446031/1">Calculus</a></span>
      <span class="tag is-medium"><a href="/shelf/1350061031/1">Economy</a></span>
      <span class="tag is-medium"><a href="/shelf/903448031/1">Computer science</a></span>
      <span class="tag is-medium"><a href="/shelf/1349978031/1">Physics</a></span>
      <span class="tag is-medium"><a href="/shelf/903454031/1">Computer security</a></span>
    </p>
    </div>
  </div>
</section>


{% endblock %}
