{% extends 'base.html' %}

{% block content %}

<div class="column">
  <h1 class="title is-1">ListedMaths</h1>
  <h2 class="subtitle is-2">A list of books from different fields of Mathematics </h2>
</div>

<section class="section">
  <div class="container">
    <div class="heading">
      <h3 class="title is-3">Some Tags</h3>
      <p><div class="chip"><a href="/shelf/4893445031/1">Algebra</a></div>
      <div class="chip"><a href="/shelf/4893447031/1">Geometry</a></div>
      <div class="chip"><a href="/shelf/1349980031/1">Mathematics</a></div>
      <div class="chip"><a href="/shelf/4893446031/1">Calculus</a></div>
      <div class="chip"><a href="/shelf/1350061031/1">Economy</a></div>
      <div class="chip"><a href="/shelf/903448031/1">Computer science</a></div>
      <div class="chip"><a href="/shelf/1349978031/1">Physics</a></div>
      <div class="chip"><a href="/shelf/903454031/1">Computer security</a></div>
      <div class="chip"><a href="/shelf/1350116031/1">Databases</a></div>
      <div class="chip"><a href="/shelf/4893442031/1">Electricity and magnetism</a></div>
      <div class="chip"><a href="/shelf/4893440031/1">Applied physics</a></div>
      <div class="chip"><a href="/shelf/4893541031/1">Space Science</a></div>
      <div class="chip"><a href="/shelf/4893532031/1">Civil engineering</a></div>
      <div class="chip"><a href="/shelf/1349975031/1">Astronomy</a></div>
    </p>
    </div>
  </div>
</section>

<h4>Random books</h4>
<div class="row">
  {%for book in books%}
  <div class="col s4">
    {% include 'book_card.html' %}
  </div>
  {%endfor%}
</div>

{% endblock %}
