{% extends 'base.html' %}

{%block head%}
<style media="screen">
  .crop img{
  width:400px;
  height:300px;
  position: absolute;
  clip: rect(0px,220px, 150px, 0px);
  }
  .references{
    color: #7a7a7a;
    text-decoration: underline;
  }
</style>
{%endblock%}

{% block content %}
    <br>

    <div class="row">
                <div class="col s12">
                    <div id="valign" class="section scrollspy">
                        <div class="row">
                          {% for book in books.items %}
                            <div class="col s12 m4">
                              {% include 'book_card.html' %}
                            </div>
                            {% if loop.index is divisibleby 3%}
                            </div>
                            <div class="row">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>


    <ul class="pagination center-align">
      {% if books.has_prev %}<a href="{{ url_for('shelf',topic=topic, page=books.prev_num) }}"><i class="material-icons">chevron_left</i></a>{% else %}<a class="disabled" ><i class="material-icons">chevron_left</i></a>{% endif %}
      {% if books.has_next %}<a href="{{ url_for('shelf',topic=topic, page=books.next_num) }}"><i class="material-icons">chevron_right</i></a>{% else %}<a class="disabled" ><i class="material-icons">chevron_right</i></a>{% endif %}
    </ul>

  {% endblock %}
