{% extends 'base.html' %}

{%block head%}
<style media="screen">
  .portadas{
    width: 60%;
  }
  .references{
    color: #7a7a7a;
    text-decoration: underline;
  }
</style>
{%endblock%}

{% block content %}
    <br>
    {% for book in books.items %}
    <div class="box">
      <article class="media">
        <div class="media-left">
            <img class="image portadas" src="{{book.image}}" alt="">
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <h4 class="title">
                <a class="references" href="{{url_for('show_book',asin=book.asin)}}">{{ book.title }}</a>
              </h4>
              {% for shelf in book.nodes %}<span class="tag is-medium"><a href="/shelf/{{shelf.pk}}/1">{{ shelf.name }}</a></span>{% endfor %}
          </div>
        </div>
      </article>
    </div>

    {% endfor %}
  {% if books.has_prev %}<a class="pagination-previous" href="{{ url_for('search',query=topic, page=books.prev_num) }}">Previous page</a>{% else %}<a class="pagination-previous disabled" disabled>Previous page</a>{% endif %}
  {% if books.has_next %}<a class="pagination-next" href="{{ url_for('search',query=topic, page=books.next_num) }}">Next page</a>{% else %}<a class="pagination-next disabled" disabled>Previous page</a>{% endif %}
{% endblock %}
